body {
    background-color: black;
    font-size: 16px;
}

#div1 {
    background-image: url("images/bg1.jpg");
    width: 95vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#div1 ol {
    list-style-type: none;
}

#div1 li {
    display: inline-block;
    float: right;
}

.clear {
    clear: both;
}

#div2 {
    padding-left: 10px;
    border-top: 1px solid #CCCCCC;
    height: 4vh;
    background-color: black;
    border-bottom: 1px solid #CCCCCC;
}

#div2 a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px 10px 5px;
    text-align: center;
    color: #CCCCCC;
    vertical-align: middle;
}

#div2 a:hover {
    background-color: #3399FE;
    color: white;
}

#container {
    background-color: #CCCCCC;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

#container p {
    color: #353336;
}

#container ul {
    color: #353336;
}

#div31 img {
    width: 99%;
}

#div32 #div321 h1,
#div32 #div322 h1,
#div32 div h5 span {
    color: #3399FE;
    text-transform: uppercase;
}

#div32 #div321 h1,
#div32 #div322 h1 {
    border-bottom: 1px solid #999999;
}

#div321 {
    float: left;
    width: 70%;
}

#div322 {
    float: right;
    width: 25%;
}

#div322 h5 {
    color: #F86601;
    text-transform: uppercase;
    margin-bottom: 0px;
}

#div323 {
    text-align: center;
    padding-bottom: 10px;
}

#div3211 img {
    outline-offset: 5px;
    outline: 1px solid white;
    margin-left: 10px;
    margin-right: 30px;
}